* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

html{
    font-size: 62.5%;
}
section{
    height: 100vh;
    /* border: 2px solid red; */
    width: 100%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin{
    width: 700px;
    margin: auto;
}
.main{
    /* border: 2px solid grey; */
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.searchBox{
    width: 100%;
    margin: 2rem;
    /* border: 2px solid red; */
    position: relative;
}

.main-searchbox{
    width: 100%;
    padding: 1.3rem;
    border-radius: 3rem;
    border: 1px solid #ccc;
    /* outline: none; */
    font-size: 1.6rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.icons{
    position: absolute;
    top:1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    pointer-events: none;
    padding: 12px 20px;
}

.searchBtn{
    /* margin: 0 5px; */
    margin-top: 0.7rem;
    padding: 1.2rem 2rem;
    color: #333;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    display: inline-block;
}

.helper{
    margin-right: 0.7rem;
}
.searchBtn:hover {
    border: 1px solid #ccc;
  }

  /* changes */

  .mainn{
    position: fixed;
    top: 1.5rem;
    right: 2rem;
  }

  .mainn ul{
    display: flex;
    font-size: 1.6rem;
    gap: 1.5rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.1;
  }

  .mainn ul li:hover{
    transform: scaleX(1);
    text-decoration: underline;
    cursor: pointer;

  }

  .my-img{
    width: 4rem;
    border-radius: 50%;
  }

  .button{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 2rem;
  }

.footer-dummy{
    font-size: 1.4rem;
}

.footer-dummy a{
    text-decoration: none;
}

.google-img{
    width: 50%;
    height: 50%;
}

/* media */

@media(max-width=80em){
    .google-img{
        width: 40%;
        height: 40%;
    }
}
